@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,600;1,600&display=swap");
:root {
  --bg-color: #000;
  --text-color: #e0e0e0;
  --secondary-color: #b0b0b0;
  --border-color: #444444;
  --accent-color: #888888;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    160deg,
    #0a0a0a 0%,
    #131313 25%,
    #1f1f1f 50%,
    #131313 75%,
    #0a0a0a 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e0e0e0;
}
nav {
  margin: 1.6em auto 3em auto;
  width: min(1000px, 100%);
}
.nav-list {
  display: flex;
  gap: 2em;
  align-items: center;
  height: 4rem;
  font-size: 18px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border: 1px solid var(--border-color);
  padding: 3%;
  border-radius: 20px;
}
.nav-list :first-child {
  margin-right: auto;
}
.logo {
  font-size: 26px;
}
.nav-items {
  transition: all 0.5s ease-in-out;
}
.nav-items:hover {
  color: #ff0099;
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.boxes {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
}
.grid-container {
  display: grid;
  grid-template-columns: 350px 100px 100px 100px 100px 350px;
  gap: 2em;
  grid-template-rows: 200px 100px 200px;
  grid-template-areas:
    "box-1 box-2 box-2 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-6 box-7 box-3"
    "box-1 box-8 box-8 box-8 box-8 box-3";
}
